<div class="card p-3 ">
  <div class="card-body ">
    <div class="price-display text-center mb-4">
      <h4 class="text-color">${{ minPrice() }} - ${{ maxPrice() }}</h4>
    </div>
    <div class="slider-container">
      <input type="range" class="form-range slider-min " [(ngModel)]="minPrice" [min]="minLimit" [max]="maxPrice() - 1"
        (input)="validateRange()">
      <input type="range" class="form-range slider-max" [(ngModel)]="maxPrice" [min]="minPrice() + 1" [max]="maxLimit"
        (input)="validateRange()">
    </div>

    <div class="d-flex justify-content-between mt-4 text-muted small">
      <span>Min: ${{ minLimit }}</span>
      <span>Max: ${{ maxLimit }}</span>
    </div>
  </div>
</div>