<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Books</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Browse Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Best Sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">New Arrivals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Categories</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Links</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order-history">Orders</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Contact & Support</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <i class="fas"></i> support@bookstore.com
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <i class="fas"></i> Cairo, Egypt
            </span>
          </li>
        </ul>
      </div>
    </div>

      <div class="text-center">
		<p class="text-center text-secondary border-top border-secondary py-4">
			WyrmHole © 2026. All rights reserved.
		</p>      </div>
    </div>
  
</footer>