<nav class="navbar bg-white p-0">
  <div class="container-fluid">
    <a class="navbar-brand text-primary-color" routerLink="/" routerLinkActive="active"
      >
      <img src="logo.png" alt="Logo" class="d-inline-block align-text-center rounded-2 fw-bold logo-image" />
      WyrmHole
    </a>
    <div class="d-flex justify-content-end align-items-center gap-2">
      <a class="btn text-primary-color" routerLink="/explore" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Explore</a>

      @if (authService.isLoggedIn()) {
        <a class="btn text-primary-color" routerLink="/order-history" routerLinkActive="active"
        >Order History</a>
        
        <a class="btn text-primary-color" routerLink="/profile" routerLinkActive="active">
          Profile
        </a>

        <button class="btn text-danger fw-bold" (click)="logout()">Logout</button>
      } @else {
        <a class="btn text-primary-color" routerLink="/login" routerLinkActive="active">Sign in</a>
      }

      <a class="btn text-primary-color border-0 p-2" routerLink="/cart" routerLinkActive="active">
        <span class="position-relative d-inline-block fs-3">
          <i class="fa-solid fa-cart-shopping"></i>

          @if (cartService.cartCount() > 0) {
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              style="font-size: 0.4em; padding: 0.35em 0.6em"
            >
              {{ cartService.cartCount() }}
            </span>
          }
        </span>
      </a>
    </div>
  </div>
</nav>
