@if(book()){
<div class="card card-bg rounded-5 " style="width: 20rem; height: 35rem; overflow: hidden;">
  <div class="position-relative m-4">
    <img [src]="book()?.coverImage" class="card-img-top rounded-5" alt="book image" style="height: 20rem; object-fit: cover;">
    <div class="position-absolute top-0 end-0 m-3 badge card-bg rounded-pill">
      <span class="fs-6 text-color px-3">${{book()?.price}}</span>
    </div>
    <div class="position-absolute bottom-0  m-3">
      @if(book()?.stock ?? 0 > 2) {
      <span class="badge bg-success">In Stock</span>
      } @else {
      <span class="badge bg-danger">Low Stock</span>
      }
    </div>
  </div>

  <div class="card-body ">
    <h5 class="card-title">{{ book()?.name }}</h5>
    <p class="card-text text-truncate-2">{{ book()?.description }}
    </p>
    <div class=" d-flex justify-content-center">
      <a href="#" class="btn button-color px-5"><i class="fa-solid fa-cart-plus"></i> Add to cart</a>
    </div>
  </div>
</div>
}