.card-bg {
  background-color: var(--cards--bg-color);

}

.text-color {
  color: var(--text-color);
}

.button-color {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
}

.button-color:hover {
  color: var(--button-text-color);
  background-color: var(--highlighted-text-color);
}

.button-color:focus {
  color: var(--button-text-color);
  background-color: var(--highlighted-text-color);
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.shadow-hover:hover {

  box-shadow: 0 1rem 3rem var(--highlighted-text-color);
  transform: translateY(-5px);
  cursor: pointer;
}